body {
  background-color: #0091fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

div {
  display: flex;
  justify-content: space-between;
}

.container {
  background-color: white;
  border-radius: 12px;
  padding: 16px 24px;
}

button {
  margin-top: 16px;
}

#resultadoTexto {
  font-size: 24px;
}